* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background-color: #060b14;
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-link {
  color: white;
  font-family: 'Russo One', sans-serif;

}

.nav-link:hover {
  text-shadow: 0px 0px 5px rgba(193, 255, 255, 0.7);
  color: white;

}

/* -------------animation-text--- */
.animation-BOx {
  position: relative;
  top: 0%;
  left: 0%;
  padding-top: 4%;
}

.animated-text {
  overflow: hidden;
  color: white;
  position: relative;
  top: 0%;
  left: 13%;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px rgba(193, 255, 255, 0.7);
  max-width: 55%;
  padding-top: 8%;
}

.hero-img {
  position: absolute;
  top: 0;
  right: -8%;
}

.zammil {
  position: relative;
  max-width: 50%;
  border-radius: 10px;
  animation: move-up-down 4s ease-in-out infinite, blink-shadow 2s ease-in-out infinite;

}

.title {
  font-size: 4vw;
}

.p-tag {
  width: 60%;
  font-size: 1.4vw;
}


@keyframes move-up-down {

  0%,
  100% {
    transform: translateY(0);

  }

  50% {
    transform: translateY(-20px);

  }
}

@keyframes blink-shadow {

  0%,
  100% {
    box-shadow: 0px 0px 35px 0px transparent;

  }

  50% {
    box-shadow: 0px 0px 35px 0px rgba(193, 255, 255, 0.7);

  }
}

/* ------whatsapp---- */


#rotating-image {
  position: fixed;
  top: 85%;
  right: 5%;
  width: 7%;
  border-radius: 54% 52% 59% 25%;
  animation: rotate 0.2s linear infinite, blink-shadow 2s ease-in-out infinite;
  z-index: 1;

}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(6deg);
  }
}

@keyframes blink-shadow {

  0%,
  100% {
    box-shadow: 0px 0px 35px 0px transparent;

  }

  50% {
    box-shadow: 0px 0px 35px 0px rgba(193, 255, 255, 0.7);

  }
}

/* ------whatsapp---- */
/* --------html css javascrion --box */
.performance {
  height: 100%;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 15%;
}

.Sklis-Box {
  width: 250px;
  height: auto;
  transition: 1s;
  margin: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px rgba(13, 13, 13, 0.9);
  background: linear-gradient(rgba(35, 43, 43, 0.4), rgba(72, 72, 72, 0.7));

}

.Sklis-Box:hover {
  box-shadow: 0px 0px 15px 0px rgba(193, 255, 255, 0.7);
  background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(7, 8, 8, 0.4));

}

.Sklis-Box:hover .sklis-text {
  transform: translateY(-20px);
  text-shadow: 0px 0px 2px rgba(193, 255, 255, 0.7);


} 
.Sklis-Box:hover .icon {
  transform: translateY(-20px);
  text-shadow: 0px 0px 1px rgba(193, 255, 255, 0.7);
}

.Sklis-Box:hover .sklis-text h2 {
  color: rgba(193, 255, 255, 0.7);

}

.Sklis-Box:hover .sklis-text p {
  color: rgba(193, 255, 255, 0.7);
}

.sklis-text {
  transition: 1.5s;

}

.sklis-text h2 {
  font-size: 15px;
  /* font-weight: 700; */
  color: rgb(139, 139, 139);
  font-family: 'Russo One', sans-serif;

}

.sklis-text p {
  color: rgb(120, 119, 119);
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icon {
  color: rgba(193, 255, 255, 0.7);
  font-size: 50px;
  margin: 20px;
  transition: 1s;
}

/* -----------image box ---? */
.web-Creation-gallery {
  width: 100%;
  height: 100%;

}

.web-title {
  text-transform: uppercase;
  font-size: 4vw;
  margin: auto;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 5px rgba(193, 255, 255, 0.7);
  /* background: linear-gradient(to right, #ff9900, #ff3399); */
  /* box-shadow: 0px 0px 1px 10px black; */

}

.span-title {
  color: aqua;
  font-size: 6vw;
}

#gallery {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px 20px;

}



.fullscren-Box {
  font-family: Arial, sans-serif;

}

.gallery-item {
  position: relative;
  margin: 10px;
  width: 30%;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  transition: 0.6s;

}

.gallery-item:hover {
  box-shadow: 0px 0px 15px 0px rgba(193, 255, 255, 0.7);
  transform: translateY(-15px);

}

.gallery-item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
  transition: 0.5s;
  object-fit: cover;


}

.gallery-item:hover .overlay {
  display: flex;
}

.gallery-item:hover .overlay {
  display: flex;
}

.overlay {

  background: linear-gradient(rgba(0, 0, 0, 0.5), #e71823);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: height 0.5s;
}

.gallery-item:hover .overlay {
  height: 100%;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.overlay-text {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Russo One', sans-serif;
  text-shadow: 0px 0px 5px rgba(193, 255, 255, 0.7);



}

.overlay-icon {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  text-shadow: 0px 0px 5px rgba(193, 255, 255, 0.7);


}

#fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#fullscreen img {
  max-width: 100%;
  max-height: 100%;

}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* -------diget-number-section--- */

.diget-number {
  /* background: linear-gradient(to right, #ff9900, #ff3399); 
  box-shadow: 0px 0px 1px 10px black;  */
  padding-top: 5%;
  text-align: center;
}

.number-Box {
  width: 80%;
  margin: auto;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.counter {
  text-align: center;

}

.icon {
  height: 3rem;
  width: auto;
}

.count {
  padding: 10px;
  font-size: 2.3rem;
  font-weight: 800;
  background: linear-gradient(to right, #ff9900, #ff3399);
  color: #fff;
  margin-bottom: 10px;
  width: 100px;
}

.counter h6 {
  text-transform: uppercase;
  font-size: 1.3vw;
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 5px rgba(193, 255, 255, 0.7);
}

/* --------------contact-section-- */
.col-img{
  /* width: 40VW; */
  width: 40%;
}
.col-text{
  width: 40%;
  /* width: 50VW; */
}

.cont-img img {
  position: relative;
  max-width: 50%;
  border-radius: 10px;
  animation: move-up-down 4s ease-in-out infinite, blink-shadow 2s ease-in-out infinite;
  max-width: 70%;
}

.contact-button:hover {
  box-shadow: 0px 0px 15px 0px rgba(193, 255, 255, 0.7);


}

.contact-text p {
  color: #fff;
  /* font-family: "Abril Fatface",; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 19px;
}

.line-contact {
  position: absolute;
  top: 27%;
  left: -6%;
  width: 5px;
  background-color: yellow;
  height: 100px;

}

.now{
  font-size: 1.3vw;
}

.social-icon {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.social-icon .scicsl-Icon {
  padding: 7px 10px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;


}

.social-icon a {
  color: #fff;
  font-size: 1.4vw;
}

.social-icon :hover {
  color: aqua;
}

/* ----foter--- */
footer {
  margin-top: 20px;
  text-align: center;
  color: #999999;
}